<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <title>detail</title>
  <style>
    table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td>[[ ${dto.id} ]]</td>
  </tr>
  <tr>
    <th>title</th>
    <td>[[ ${dto.boardTitle} ]]</td>
  </tr>
  <tr>
    <th>writer</th>
    <td>[[ ${dto.boardWriter} ]]</td>
  </tr>
  <tr>
    <th>date</th>
    <td>[[ ${dto.createdAt} ]]</td>
  </tr>
  <tr>
    <th>hits</th>
    <td>[[ ${dto.boardHits} ]]</td>
  </tr>
  <tr>
    <th>contents</th>
    <td>[[ ${dto.boardContents} ]]</td>
  </tr>
</table>
<button id="listReq">목록</button>
<button id="updateReq">수정</button>
<button id="deleteReq">삭제</button>
<script th:inline="javascript">
  $(document).ready(function() {
    $("#listReq").on("click", function() {
      location.href = '/list';
    })
    $("#updateReq").on("click", function() {
      location.href = `/update/[[$dto.id]]`
    })
    $("#deleteReq").on("click", function() {
      let pass = prompt('비밀번호를 입력하세요')
      if(pass == [[${dto.boardPass}]]) {
        location.href = `/delete/[[$dto.id]]`
      } else {
        event.preventDefault();
        alert('비밀번호가 일치하지 않습니다.')
      }
    })
  })
</script>
</body>
</html>