<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mybatisTest.mapper.BoardMapper">
    <insert id="save" parameterType="boardDto">
        INSERT INTO board_table(boardtitle, boardwriter, boardpass, boardcontents)
        VALUES(
            #{boardDto.boardTitle},
            #{boardDto.boardWriter},
            #{boardDto.boardPass},
            #{boardDto.boardContents}
        )
    </insert>

</mapper>